# macOS
.DS_Store

# Dataset
Fundus_CIMT_2903 Dataset/

# Large model files
*.pt

# Large NumPy outputs
*.npy

# ZIP/archive files
*.zip

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
